.card {
  position: relative;
  width: 100%;
  min-width: 200px;
  height: auto;
  min-height: 453px;
}

.card_shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card__content {
  position: absolute;
  z-index: 0;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: z-index 0s linear 0.5s;
}

.card__content_focused {
  position: absolute;
  z-index: 1;
  transition: z-index 0s linear 0s;
}

.card__backsplash {
  position: fixed;
  z-index: -1;
  background-color: transparent;
  transition: background-color 0.5s ease, z-index 0s linear 0.5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card__backsplash_open {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease, z-index 0s;
}

.card__header {
  display: flex;
  padding: 16px;
  height: 86px;
}

.card__timestamp {
  color: rgb(100, 100, 100);
  font-size: 0.95rem;
}

.card__image {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.card__description {
  max-width: fit-content;
  text-align: justify;
  padding: 16px;
}

.card__steps {
  padding: 0px 16px;
  height: 0px;
  transition: height 0.5s ease;
  overflow-y: hidden;
}

.card__steps_open {
  height: 400px;
  overflow-y: auto;
}

.card__step {
  text-indent: 0.5rem;
  color: rgb(50, 50, 50);
}

.card__step-container {
  margin-bottom: 8px;
  text-align: justify;
}

.card__step-container:not(:last-child) {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card__step-marker {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 4px;
}

.card__footer {
  margin-top: auto;
  display: flex;
  padding: 16px;
}
